services:
	- Symfony\Component\Console\Application


application:
	scanComposer: FALSE


extensions:
	- Kdyby\Events\DI\EventsExtension
	- Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension


doctrine:
	driver: pdo_sqlite
	memory: TRUE


migrations:
	namespace: Zenify\DoctrineMigrations\Tests\Migrations
	dirs:
		- %appDir%/Migrations
