services:
	-
		class: Symfony\Component\Console\Helper\HelperSet
		setup:
			- set(@Doctrine\ORM\Tools\Console\Helper\EntityManagerHelper, 'em')
	-
		class: Symfony\Component\Console\Application
		setup:
			- setHelperSet
			- setDispatcher


application:
	scanComposer: FALSE


extensions:
	- Kdyby\Events\DI\EventsExtension
	- Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	- Symnedi\EventDispatcher\DI\EventDispatcherExtension
	migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension


doctrine:
	driver: pdo_sqlite
	memory: TRUE
	metadata:
		Zenify\DoctrineMigrations\Tests\Entity: %appDir%/Entity


migrations:
	namespace: Zenify\DoctrineMigrations\Tests\Migrations
	dirs:
		- %appDir%/Migrations
