services:
	- Zenify\DoctrineMigrations\OutputWriter
	- {class: Zenify\DoctrineMigrations\EventSubscriber\ChangeCodingStandardEventSubscriber, tags: [kdyby.subscriber]}
	- {class: Zenify\DoctrineMigrations\EventSubscriber\RegisterMigrationsEventSubscriber, tags: [kdyby.subscriber]}

	# commands
	- Doctrine\DBAL\Migrations\Tools\Console\Command\ExecuteCommand
	- Doctrine\DBAL\Migrations\Tools\Console\Command\DiffCommand
	- Doctrine\DBAL\Migrations\Tools\Console\Command\GenerateCommand
	- Doctrine\DBAL\Migrations\Tools\Console\Command\MigrateCommand
	- Doctrine\DBAL\Migrations\Tools\Console\Command\StatusCommand
	- Doctrine\DBAL\Migrations\Tools\Console\Command\VersionCommand
